@import "bourbon";

$karla: 'karla', sans-serif;
$quest: 'Questrial', sans-serif;
$fred: 'Fredoka One', sans-serif;
$unica:  'Unica One', sans-serif;
$rogers-pink: #FB92A0;
$rogers-blue: #80BDC2;
$rogers-green: #D5FBA4;
$rogers-purple: #EABEEC;
$light-rogers-blue: #C7FFF2;

#loading-section{
	position: absolute;
	
	height: 300px;
	width: 500px;
	left: 50%;
	top: 60%;
	@include transform(translate(-50%, -50%));
	border: 5px solid $rogers-pink;
	text-align:center;

}


#open-shows{
	position: absolute;
	top: 175px;
	height: 50px;
	width: 200px;
	left: 50%;
	color: white;
	text-align:center;
	line-height: 50px;
	border-radius: 50px;
	font-family: $fred;
	&:hover{
		cursor: pointer;
	}
	letter-spacing: 7px;
	text-transform: uppercase;
	@include transform(translateX(-50%));
	background-color: black;
}


#open-albums{
	width: 50px;
	height: 200px;
	position: absolute;
	top: 65%;
	left: 25px;
	border-radius: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: $fred;
	color: white;
	&:hover{
		cursor: pointer;
	}
	background-color: black;
	@include transform(translateY(-50%));
	span{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}

#open-contact{
	&:hover{
		cursor: pointer;
	}
	width: 50px;
	height: 200px;
	position: absolute;
	top: 65%;
	right: 25px;
	border-radius: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: $fred;
	color: white;
	background-color: black;
	@include transform(translateY(-50%));
	span{
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}












