@import "bourbon";

$karla: 'karla', sans-serif;
$quest: 'Questrial', sans-serif;
$fred: 'Fredoka One', sans-serif;
$unica:  'Unica One', sans-serif;
$rogers-pink: #FB92A0;
$rogers-blue: #80BDC2;
$rogers-green: #D5FBA4;
$rogers-purple: #EABEEC;
$light-rogers-blue: #C7FFF2;


body{
	margin: 0px;
}

html{
	background-color: $light-rogers-blue;	
}

header{
	background-color: black;
	height: 150px;
	width: 100%;
	padding-left: 25px;
	position: relative;
	overflow:hidden;
	border-bottom: 5px solid $rogers-green;
	h1{
		margin-top: 0px;
		color: white;
		line-height: 150px;
		font-family: $fred;
		letter-spacing: 5px;
		font-weight: bold;
		font-size: 30px;
		overflow: hidden;

		
		@include transition(all 0.5s ease-in);
		.c, .e, .p, .h, .alpods{
			@include transition(color 0.5s ease-in);
			@include transition(border-color 0.5s ease-in);
			border-color: black;
		}
		.c{
			@include transition-delay(0.1s);
		}
		.e{
			@include transition-delay(0.2s);
		}
		.p{
			@include transition-delay(0.3s);
		}
		.h{
			@include transition-delay(0.4s);
		}
		&.squish{
			letter-spacing:-15px;
			font-size: 70px;
			font-weight: 900;
			.c{
				color: $rogers-blue;
				border-bottom: 3px solid $rogers-blue;

			}
			.e{
				color: $rogers-pink;
				border-bottom: 3px solid $rogers-pink;

			}
			.p{
				color: $rogers-green;
				border-bottom: 3px solid $rogers-green;

			}
			.h{
				color: $rogers-purple;
				border-bottom: 3px solid $rogers-purple;
			}
			.alopods{
				color: black;
				padding-left: 20px;
			}
			&:after{
				left: 25px;

			}

	
		}

		
	
		&:after, &:before{
			content: '';
			width: 165px;
			height: px;
			background-color: $rogers-blue;
			position: absolute;
			left: 25px;
			border-radius: 20px;
			color: black;
			left: -300px;
			@include transition(all 0.2s ease-in);
			@include transition-delay(0.5s);
		}

		text-transform: uppercase;
		span.alopods{
			@include transition(all 0.5s ease-in);
			color: white;
			letter-spacing: 5px !important;
			font-size: 30px !important;
		}
	}
}